#kof {
    /* background-color: aqua; */
    width: 1280px;
    height: 720px;
    background-image: url('/static/img/background/0.gif');
    background-size: 100% 100%;
}

html,
body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

/* #canvas {
    height: 50vh;
    width: 50vw;
} */